.tab-content {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    border: 1px solid;
    border-color: transparent #dee2e6 #dee2e6;
}